// Word search
.word-search {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
.search-input {
  width: 75%;
}
.search-keywords {
  width: 20%;
}

// Word list
.word-list-card {
  margin: 20px;
}
.word-item {
  padding-right: 50px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.word-translations {
  list-style: none;
  display: flex;
}

// Word addition
.add-button {
  position: absolute;
  bottom: 40px;
  right: 80px;
}
