@import '~@angular/material/theming';

@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-amber);
$xokoa-theme: mat-light-theme($primary, $accent);

// Add new theme
@include angular-material-theme($xokoa-theme);
