// Import material themes.
@import './material-themes.scss';


/* You can add global styles to this file, and also import other style files */

html, body, mat-sidenav-container { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.h100 {
  height: 100%;
}

.xoko-fab-btn {
  position: absolute !important;
  bottom: 40px;
  right: 60px;
}

.goal-dialog .mat-dialog-container {
  background-color: mat-color($accent);
  padding: 15px;
}
